<div id="templatemo_main">
	<div id="content">
		<h2>History</h2>
		<p>The Swedish Club of WA is a Club for Swedes, their families and other interested parties residing in Western Australia. The object of the Club is the preservation, maintenance and communication of Swedish culture and traditions and arrange some of the festivities such as The National Day, Midsummer and Lucia.</p>
		<div class="cleaner h30"></div>
		<div class="about_box">
			<a name="Peter"></a>
			<img src="<?php echo Yii::app()->baseUrl; ?>/images/user.jpg" alt="Peter Th&ouml;nell" />
			<h4>Peter Th&ouml;nell</h4>
			<p class="position">President</p>
			<div class="cleaner"></div>
		</div>
		<div class="about_box">
			<a name="Karl"></a>
			<img src="<?php echo Yii::app()->baseUrl; ?>/images/user.jpg" alt="Karl Johansson" />
			<h4>Karl Johansson</h4>
			<p class="position">Treasurer</p>
			<div class="cleaner"></div>
		</div>
		<div class="about_box">
			<a name="Jonas"></a>
			<img src="<?php echo Yii::app()->baseUrl; ?>/images/user.jpg" alt="Jonas Edner" />
			<h4>Jonas Edner</h4>
			<p class="position">Member</p>
			<div class="cleaner"></div>
		</div>
	</div>

	<div id="sidebar">
		<h3>Board of Directors</h3>
		<ul class="templatemo_list">
			<li><a href="#Peter">Peter Th&ouml;nell</a></li>
			<li><a href="#Karl">Karl Johansson</a></li>
			<li><a href="#Jonas">Jonas Edner</a></li>
		</ul>

	</div> <!-- end of sidebar -->
	<div class="cleaner"></div>
</div>
